{% extends 'csv_import/base.html' %}
{% block title %} Importación CSV {% endblock title %}
{% block content %}
<form method="POST" enctype="multipart/form-data" action="{% url 'csv_import:guardar' %}">
    {% csrf_token %}
    {{form.as_p}}
    <div class="mb-3 p-5">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile" name="file">
        <button type="submit" class="btn btn-success">Success</button>
    </div>
</form>
{% endblock content %}